[user]
	name = Christopher Aicher
	email = aicherc@uw.edu
[core]
	editor = vim
	excludesfile = /home/aicherc/.gitignore
[credential]
	helper = cache
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
