[submodule ".vim/bundle/vim-pandoc"]
	path = .vim/bundle/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc
[submodule ".vim/bundle/vim-pandoc-syntax"]
	path = .vim/bundle/vim-pandoc-syntax
    url = https://github.com/vim-pandoc/vim-pandoc-syntax
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
